body {
    background-image: url(../images/imageedit_2_5846888608.png);
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    background-color: #999;
}

#card {
    /* allows for the alignment of the idividual cards */
    display: inline;
}

#login {
    width: 250px;
} 

.opacity {
    opacity: 0.7;
}

/* Always set the map height explicitly to define the size of the div element that contains the map. */
#map {
    display: inline-block;
    margin: 0 auto;
    padding: 3px;
    width: 600px;
    height: 400px;
}

#floating-panel {
    width: 100%;
    text-align: center;
}

.batman {
   background-color: transparent !important; 
}
@media only screen and (max-width: 768px) {
    #map {
        display: inline-block;
        margin: 0 auto;
        padding: 3px;
        width: 450px;
        height: 350px;
    }

  }

@media only screen and (max-width: 575px) {
    #map {
        display: inline-block;
        margin: 0 auto;
        padding: 3px;
        width: 450px;
        height: 350px;
    }

  }